:root {
  --primary-color: rgb(255, 255, 255);
  --primary-color-highlight: rgb(255, 255, 255);
  --bs-body-bg: #ffffff;
  --bs-body-font-family: 'Inter', sans-serif;
}

body {
  height: 2000px;  
  padding-top: 60px;
  background-color: var(--bs-body-bg);
}

a {
  text-decoration: none;
}

.navbar {
  width: 100%;
  background-color: var(--primary-color) !important;
  padding-left: 70px;
  padding-right: 70px;
  padding-top: 0px !important;
  padding-bottom: 2px !important;
  box-shadow: 0px 0px 10px 10px rgba(0, 0, 0, 0.05);
}

.navbar-nav {
  margin-left: auto;
}

@media (max-width: 767px) {
  .navbar {
    padding-left: 15px;
    padding-right: 15px;
  }
}

.navbar-brand img {
  padding: 0px;
  display: block;
}

.nav-link{
  font-weight: 600;
  font-size: 20px;
  color: rgb(0, 0, 0);
  font-family: "Be Vietnam Pro", sans-serif;
  margin-left: 15px;
}

.nav-link:hover {
  color: rgb(52, 83, 120);
}

.navbar-toggler {
  margin-left: 12px;
  width: 20px;
  height: 20px;
  position: relative;
}

.navbar-toggler,
.navbar-toggler:focus,
.navbar-toggler:active {
  outline: none;
  box-shadow: none;
  border: 0;
}

.navbar-toggler span {
  margin: 0;
  padding: 0;
}

.toggler-icon {
  display: block;
  position: absolute;
  height: 3px;
  width: 100%;
  background: #000000;
  border-radius: 1px;
  opacity: 1;
  left: 0;
  transform: rotate(0deg);
  transition: .25s ease-in-out;
}

.middle-bar {
  margin-top: 0px;
}

.navbar-toggler .top-bar {
  margin-top: 0px;
  transform: rotate(135deg);
}

.navbar-toggler .middle-bar {
  opacity: 0;
  filter: alpha(opacity=0);
}

.navbar-toggler .bottom-bar {
  margin-top: 0px;
  transform: rotate(-135deg);
}

.navbar-toggler.collapsed .top-bar {
  margin-top: -20px;
  transform: rotate(0deg);
}

.navbar-toggler.collapsed .middle-bar {
  opacity: 1;
  filter: alpha(opacity=100);
}

.navbar-toggler.collapsed .bottom-bar {
  margin-top: 20px;
  transform: rotate(0deg)
}

.showcase {
  padding-top: 10px;
  padding-bottom: 0px;
  background: rgb(255, 255, 255);
  background-image: url('assets/hero.png?v=%time%') !important;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center; 
}

.h1-showcase {
  font-size: 4rem; 
  line-height: 1.5; 
  letter-spacing: .2rem;
  font-family: "Gloock", serif; 
  color: #ffffff;
  font-weight: 700;
  text-align: center; 
  margin-top: 10px; 
  margin-bottom: 0px;
  text-shadow: none;
}

.container-showcase {
  display: flex;
  justify-content: flex-end; 
  align-items: center; 
  height: 85vh; 
}

@media (max-width: 768px) {
  .h1-showcase {
    font-size: 3rem; 
    line-height: 1.3;
    margin-top: 135px;
    margin-bottom: 30px;
    text-align: center; 
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5); 
  }

  .container-showcase {
    justify-content: center; 
    height: auto; 
  }
}

@media (max-width: 576px) {
  .h1-showcase {
    font-size: 2.5rem; 
    line-height: 1.4;
    margin-top: 135px;
    margin-bottom: 30px;
    text-shadow: 2px 2px 7px rgba(0, 0, 0, 0.7); 
  }

  .container-showcase {
    height: auto; 
  }
}

@media (max-width: 375px) {
  .h1-showcase {
    font-size: 2rem; 
    line-height: 1.5;
    margin-top: 100px;
    margin-bottom: 15px;
    text-shadow: 3px 3px 10px rgba(0, 0, 0, 0.8);
  }
}

@media (max-width: 767px) {
  .showcase {
    padding-top: 0px;
    padding-bottom: 60px;
  }
}

p {
  color: rgb(0, 0, 0);
  font-family: "Be Vietnam Pro", sans-serif;
  font-size: 20px;
}

.about, .services {
  background-color: rgb(255, 255, 255);
  align-items: center;
}

.container-about {
  padding-top: 110px;
  padding-bottom: 60px;
  text-align: center;
}

.container-services {
  padding-top: 50px;
  padding-bottom: 50px;
  text-align: center;
}

.service {
  margin: 0px;
}

h2 {
  font-family: "Be Vietnam Pro", sans-serif;
  color: #000000;
  font-size: 25px;
  font-weight: bold;
  margin-bottom: 10px;
}

.service-title {
  font-family: "Be Vietnam Pro", sans-serif;
  color: #000000;
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 10px;
}

.service-text {
  font-family: "Be Vietnam Pro", sans-serif;
  color: rgb(0, 0, 0);
  font-size: 20px;
  padding: 45px;
}

.services .row {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.services .col-lg-4, .about .col-md-6 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

@media (max-width: 767px) {
  .why-title {
    font-size: 20px;
    margin-bottom: -20px;
  }

  .why-text {
    font-size: 20px;
  }

  .services .col-lg-4, .about .col-md-6 {
    margin-bottom: 20px;
  }
}

.footer-dark {
  background-color: #26435E !important;
  border: none !important;
  border-width: 0 !important;
  padding-top: 65px;
  padding-bottom: 10px;
}

.footer-logo {
  margin-bottom: 30px;
}

@media (min-width: 992px) {
  .footer-logo {
    max-width: 50%;   
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .footer-logo {
    max-width: 50%;   
  }
}

@media (max-width: 767px) {
  .footer-logo {
    max-width: 50%;
  }
}

.footer-text {
  color: rgb(255, 255, 255);
  font-family: "Be Vietnam Pro", sans-serif;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.5; 
  margin-bottom: 10px;
}

.copyright {
  color: rgb(255, 255, 255);
  text-align: center;
  font-size: 15px;
  margin-top: 100px; 
}

.icon {
  height: 25px;
  margin-right: 8px;
  margin-top: -4px;
}